/**
 *  License
 */

$bg-clickable: #8FFF8F;
$bg-clickable-hover: #009933;
$bg-mineable: #FF5C5C;
$bg-mineable-hover: #CC0000;
$bg-revealed: #f0f0f0;
$bg-clicking: #ccc;
$black: #000;
$white: #fff;
$dark-blue: #00008B;
$blue: #0000FF;
$green: #008000;
$red: #FF0000;
$brown: #A52A2A;
$cyan: #00FFFF;
$gray: #808080;

$cell-diameter: 1.5625em;
$game-size: $cell-diameter*10;
